html,
body,
#react-root {
  height: 100%;
  background-color: rgb(36, 36, 36);
  color: #92cc41;
  /* border: 5px solid black */
}

/* uncomment for robot font  */
@font-face {
  font-family: 'vt323regular';
  src: url('../../assets/VT323/webfontkit-20210628-231156/vt323-regular-webfont.woff2') format('woff2'),
       url('../../assets/VT323/webfontkit-20210628-231156/vt323-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h1{
  outline: #92cc41 solid 1px;
  margin: 2px;
  background-color: rgb(53, 51, 51);
}

body {
  font-family: 'vt323regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;

}

img {
  display: inline-block;
  max-width: 100%;

}

label{
  color: #92cc41;
  font-size: 30px;
}

.slider{
  -webkit-appearance: none;
  width: 135px;
  height: 10px;
  background-color: rgb(53, 51, 51);
  outline: none;
  border: 2px solid #92cc41;
}


/* for chrome/safari */
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 20px;
  background: #000;
  cursor: pointer;
  border: 5px solid lawngreen;
  
}

select{
  font-family: 'vt323regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(53, 51, 51);
  color: #92cc41;
  font-size: 20px;
}


/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding-left: 20px;
  padding-right: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

button{
  height: 77px;
  width: 100px;
  color: black !important;
  font-size: 25px !important;
  font-family: 'vt323regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: rgb(53, 51, 51);
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  margin-top: 2em;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.range-text{
  font-size: 30px;
  text-align: center;
}

select{
  height: 70px;
  width: 100px;
  font-size: 36px;
  text-align: center;
  text-align-last: center;
}

.swal-class-bg{
  border: 2px solid #92cc41;
  background-color: black;
  color: #92cc41
}

.swal-class-text{
  color: #92cc41;
  font-size: 30px;
}

.swal-class-button-confirm{
  background-color: lawngreen;
  color: #000;
}

.title-container{
  display: flex;
  justify-content: center;
  width: 33%;
  height: 110px
}

.beep-title {
  width: 100%;
  margin-bottom: 4em ;
  background-color: black;
  color: lawngreen;
}

.beep-item-title {
  color: lawngreen;
}

.wider-select{
  width: 175px
}

/* use! */
.thinner-select{
  width: 75px
}

.beep-item{
  background-color: rgb(53, 51, 51);
}

.radio-column{
  width: 90px
}

.filter-spacer{
  width:2%
}

.page-title{
  font-size: 40pt;
  color: lawngreen;
  border: 3px solid #92cc41;
}







/* taken out of new beep .css */
.synth-params-container {
  display: flex;
  justify-content: center;
  width: 1250px;
  margin: 0 auto;
}
.filter-container{
  display: flex;
  justify-content: space-between;
}
.seq-params-container{
  display: flex;
  justify-content: space-around;
  margin-bottom : 1em;
}
.note-display-container{
  display: flex;
  justify-content: space-around;
  outline: #92cc41 solid 1px;
  width: 60%;
  margin: 0 auto;
  height: 55px
}

.step-select-container{
  display: flex;
  justify-content: center;
}
.button-container{
  display: flex;
  justify-content: center;
}
.scale-container{
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 2px inset #92cc41;
}
.sequence-container{
  display: flex;
  width: 1325px;
  box-shadow: 2px 2px 2px 2px inset #92cc41;
}

.seq-title{
  margin-right: 1em !important;
}

.tempo-container{
  display: flex;
  justify-content: space-between;
  width: 500px;
  box-shadow: 2px 2px 2px 2px inset #92cc41;
}

.title{
  color:aqua !important;
  background-color: rgb(53, 51, 51) !important;
  font-size: 22pt !important;
  border: 2px solid black !important;
  height: 50px;
  box-shadow: 1px 1px 1px 1px inset #92cc41;
}
label{
  margin-left: 20px;
  
}


.save{
  display: inline;
}


#0{
  margin-left: 1em;
}

.active{
  color: orange;
  font-size: 46px;
  border: 5px solid orange
}

.inactive{
  color: #92cc41;
}


.note-display{
  font-size: 30pt;
  padding: 0.3em;
  display: inline;
  font-size: 20pt;
  margin: 0.5em;
}

.notes-title-display{
  font-size: 24pt;
  padding: 0.3em;
}

footer{
  font-size: 20pt;
}



/* UNUSED */

/* 
button:hover {
  border: 1px solid lawngreen;
  display: inline-block;
  padding: 10px 20px;
} 

.red:hover {
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.571);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: lawngreen;
  color: black;
  font-size: 25px;
  font-family: 'vt323regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  color: black;
  font-size: 25px;
  font-family: 'vt323regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(126, 252, 0, 0.591);

}

/* This line makes the "Register" and "Login" buttons look like links */
/* .btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
} */ 