.synth-params-container {
    display: flex;
    justify-content: space-around;
}
.filter-container{
    display: flex;
    justify-content: space-between;
}
.seq-params-container{
    display: flex;
    justify-content: space-around;
}
.step-select-container{
    display: flex;
    justify-content: center;
}